#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text-area-content {
  flex-grow: 1;
  font-family: inherit;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  resize: none;
  padding: 5px;
  line-height: 1.5;
}

.text-area-content:focus {
  outline: none;
}

.journal-saved-msg {
  visibility: hidden;
  text-transform: uppercase;
}
